
.App{
    display: flex;
    flex-direction: column; 
}



.But{
    padding: 8px 16px;
    background-color: #bfff9f;
    border-radius: 10px;
    border: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}